model:
  name: "yolov2"
  num_classes: 20
  anchors: [[1.3221, 1.73145], [3.19275, 4.00944], [5.05587, 8.09892], [9.47112, 4.84053], [11.2364, 10.0071]] # Example anchors for VOC
  input_size: [416, 416]

data:
  train_path: "e:\\my_workspace\\yolo2_QR\\dataset\\train"
  val_path: "e:\\my_workspace\\yolo2_QR\\dataset\\val"
  class_names: ["aeroplane", "bicycle", "bird", "boat", "bottle", "bus", "car", "cat", "chair", "cow", "diningtable", "dog", "horse", "motorbike", "person", "pottedplant", "sheep", "sofa", "train", "tvmonitor"]

train:
  device: "cuda:0"
  num_workers: 4
  data_dir: "dataset/PVZ_Lawn"
  continue_model: '' # 继续训练的模型路径
  batch_size: 8
  epochs: 100
  save_interval: 10

  learning_rate: 0.001
  momentum: 0.9
  weight_decay: 0.0005
  patience: 10 # Early stopping patience


output:
  log_dir: "e:\\my_workspace\\yolo2_QR\\logs"
  checkpoint_dir: "e:\\my_workspace\\yolo2_QR\\checkpoints"
