train:
  device: "cuda:0"
  num_workers: 2
  data_dir: "dataset/PVZ_Lawn"
  num_anchors: 5
  base_img_size: 416
  fix_img_size: False  # 是否固定训练图像大小, 若为 True 则使用 base_img_size, 否则随机选择 multi_scale_sizes 中的尺寸
  continue_model: ""  # 继续训练的模型路径, 若为空则从头开始训练
  num_classes: 24 # 类别数量, 包括背景类别

  # 训练参数
  batch_size: 8
  epochs: 210
  save_interval: 10

  # 训练参数
  learning_rate: 0.001
  momentum: 0.9 # 动量
  weight_decay: 0.0005  # 权重衰减
  lambda_coord: 5.0     # 坐标损失权重
  lambda_noobj: 0.5     # 无目标置信度损失权重

  log_dir: "e:\\my_workspace\\yolo2\\logs"

  # 阈值配置
  conf_thresh: 0.4      # 置信度阈值 (用于 NMS 前过滤)
  nms_thresh: 0.45       # NMS IoU 阈值 (用于非极大值抑制)
  iou_thresh: 0.6        # 评估 IoU 阈值 (用于计算 mAP/TP)
